fastapi
uvicorn[standard]
asyncpg
redis
minio
pandas
sqlalchemy
psycopg2-binary
pyarrow
pika
beautifulsoup4
requests
websockets
vaderSentiment
prometheus-fastapi-instrumentator
fastapi-mail
google-generativeai
# Auth
bcrypt
PyJWT
passlib[bcrypt]
python-multipart
python-jose[cryptography]
# Workflow
inngest
NorenRestApiPy
pyotp
python-dotenv
